<!DOCTYPE html>
<!-- index.ejs
     Copyright © 2024 Joel A Mussman. All rights reserved.
-->

<html>
<head>
    <%- include('../components/head'); %>
</head>
<body>
        <%- include('../components/header'); %>

        <div class="main">
            <nav>
                <%- include('../components/navigation'); %>
            </nav>

            <div class="content">
                <img class="map" src="/assets/images/map.png" />
            </div>
        </div>    

        <%- include('../components/footer'); %>
</body>
</html>